.tile {
    font-family: Courier, Monaco, monospace;
}

.remove {
    position: relative;
    left: 5px;
    height: 1em;
    width: 1em;
}

#done {
    float: right;
}

@media only screen and (max-width: 600px) {
    #game_board {
        /* The board needs to stay cohesive at small widths */
    }
}